// --------------------------------------------------
// Background
// --------------------------------------------------

.background {
  background: url('~assets/images/background/default.png') left center no-repeat;
  background-size: cover;
  min-height: 530px;
}
