// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn-primary {
  border-bottom-color: #50b062;
  border-bottom-width: 2px;
  color: $white;
}
