// --------------------------------------------------
// Cards
// --------------------------------------------------

.card-default {
  background-color: #eefaf0;
  color: $gray-700;

  h6,
  .h6 {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .day-name {
    font-size: 85%;
    margin-right: 5px;
    width: 6rem;
  }

  .link-edit {
    background-color: $white;
    border-radius: $border-radius;
    color: $gray-700;
    display: inline-block;
    float: right;
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: -.5rem -.5rem 0 0;
    text-align: center;
    width: 1.5rem;
  }
}
