// --------------------------------------------------
// Common Styles
// --------------------------------------------------

body {
  font-family: $font-open-sans;
  min-width: 20rem;
}

.img-flag {
  height: auto;
  margin: 0 .125rem;
  vertical-align: middle;
  width: 2rem;
}
