// --------------------------------------------------
// Forms
// --------------------------------------------------

.custom-select,
input.form-control,
textarea.form-control {
  background-color: $gray-150;
}

.form-default {

  input.form-control {
    @extend .form-control-lg
  }
}

.form-products {

  .custom-select-unit {
    display: inline-block;
    margin: -0.0625rem .5rem 0;
    position: relative;
    top: -1px;
    width: 6rem;
  }

  .form-control-amount {
    display: inline-block;
    width: 9.375rem;
  }

  .options {
    margin: .25rem 0 0 1.45rem;
  }

  .sub-label {
    color: $text-muted;
    display: inline-block;
    margin: 0;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {

    .sub-label {
      margin-right: .5rem;
      width: auto;
    }
  }
}
