// --------------------------------------------------
// Forms
// --------------------------------------------------

.b-rating {
  background-color: transparent;
  height: auto;
}

.b-form-datepicker,
.b-form-timepicker,
.custom-select,
input.form-control,
textarea.form-control {
  background-color: $gray-150;
}

.form-default {

  input.form-control {
    @extend .form-control-lg
  }

  select.custom-select {
    @extend .custom-select-lg
  }
}

.form-group-sticky {
  bottom: 2rem;
  position: fixed;
  right: 2rem;
  z-index: $zindex-sticky;
}

.form-operating-hours,
.form-products {

  .options {
    margin: .25rem 0 0 1.45rem;
  }

  .sub-label {
    color: $text-muted;
    display: block;
    margin: 0 0 .25rem;
    width: 100%;
  }
}
