// --------------------------------------------------
// Lists
// --------------------------------------------------

.list {
  text-align: left;
}

.list-buttons {
  list-style: none;
  margin: 0;
  padding: 0;

  svg {
    margin-right: .5rem;
  }
}

.list-farm-item,
.list-market-item {

  .img-primary {
    border: none;
    border-radius: 0.25rem;
    float: left;
    height: auto;
    margin: 0 1rem 0 0;
    width: 100px;
  }
}

.list-farms,
.list-markets {

  .img-list-item {
    float: left;
    margin-right: 1.25rem;
  }

  .link-name {
    display: inline-block;
    font-weight: 700;
    margin-bottom: .25rem;
    text-decoration: none;
  }
}

.list-item {
  background-color: #eef9f0;
  border-radius: $border-radius-lg;
  margin-bottom: 1.25rem;
  overflow: auto;
  padding: 1.25rem;
  position: relative;

  p {
    color: #4c4c4c;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .circle {
    float: left;
  }

  .list-item-center {
    padding-left: calc(5rem + 1.25rem);
    padding-right: 1.25rem;
  }

  .img-list-item {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }
}

.list-item-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.list-messages {
  display: block;
  list-style: none;
  padding-left: 0;

  > li {
    cursor: pointer;
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    position: relative;
    transition-duration: .3s;

    a {
      color: $gray-600;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover,
    &.unread {
      background-color: $gray-150;
    }

    &.unread {

      a {
        color: $gray-900;
        font-weight: 600;
      }
    }
  }

  .checkbox-wrap {
    float: left;
    height: 3.125rem;
    padding: .75rem 0 0 .75rem;
  }

  .col-mail {
    float: left;
    position: relative;
  }

  .col-mail-1 {
    width: 28%;
  }

  .col-mail-2 {
    width: 72%;
  }

  .date {
    color: $gray-600;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 6.25rem;
  }

  .subject {
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 6.875rem;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
  }

  .title {
    left: 2.5rem;
    line-height: 3.125rem;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0.3125rem;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
  }
}

.list-social {

  li {

    a:not(.link-edit) {

      > svg {
        font-size: 1.5rem;
      }
    }
  }

  .link-edit {
    background-color: $gray-300;
    border-radius: $border-radius;
    color: $gray-700;
    display: inline-block;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    position: relative;
    text-align: center;
    top: -.25rem;
    vertical-align: top;
    width: 1.5rem;
  }
}

.list-social-item-facebook {

  svg {
    color: #39599f;
  }
}

.list-social-item-instagram {

  svg {
    color: #8a3ab9;
  }
}

.list-social-item-pinterest {

  svg {
    color: #c8232c;
  }
}

.list-social-item-twitter {

  svg {
    color: #00acee;
  }
}
