// --------------------------------------------------
// Site Search
// --------------------------------------------------

.site-search {
  padding: 5rem 0 10rem;

  form {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: .625rem;
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 5rem;
    text-align: center;
  }

  label {
    color: $gray-700;
    font-weight: 600;
    font-size: 1.25rem;
    left: 1rem;
    position: absolute;
    top: 0.55rem;
    z-index: $zindex-dropdown;
  }

  .btn-primary {
    position: absolute;
    right: 0;
    width: 4.1875rem;
  }

  .multiselect {

    &__input {
      font-size: 1.25rem;
      line-height: inherit;
      margin-top: .5rem;
      padding-left: 0;
    }

    &__placeholder {
      margin-bottom: 0;
      padding-top: .5rem;
    }

    &__select {
      height: 3rem;
    }

    &__single {
      line-height: inherit;
      padding-top: .5rem;
    }

    &__tags {
      font-size: 1.25rem;
      min-height: 3.0625rem;
      padding-left: .75rem;
    }
  }

  .location {
    width: calc(100% - 5.1875rem);

    .multiselect {

      &__tags {
        padding-left: 4.5rem !important;
      }
    }
  }

  .search {

    .form-control {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-up(md) {

    .col-left {
      padding-right: .5rem;
    }

    .col-right {
      padding-left: .5rem;
    }
  }
}
