// --------------------------------------------------
// Site Search
// --------------------------------------------------

.site-search {
  padding: 4rem 0 8rem;

  form {
    margin: 0 auto;
    max-width: 50rem;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 4rem;
    text-align: center;
  }

  label {
    color: $gray-700;
    font-weight: 600;
    font-size: 1.25rem;
    left: 1rem;
    margin-bottom: 0;
    position: absolute;
    top: 0.65rem;
    z-index: $zindex-dropdown;
  }

  .btn-primary {
    position: absolute;
    right: 0;
    width: 4.1875rem;
  }

  .inputs {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: .625rem;
    padding: 1rem;
  }

  .item {
    margin-bottom: 1rem;
  }

  .location {
    width: calc(100% - 5.1875rem);
  }

  .types {
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: 0;

    > li {
      display: inline-block;
      margin-right: .5rem;

      > a {
        background-color: rgba(0, 0, 0, 0.05);
        border-top-left-radius: .625rem;
        border-top-right-radius: .625rem;
        color: $gray-800;
        cursor: pointer;
        display: block;
        font-size: .8rem;
        padding: .75rem;
        text-decoration: none;
        transition: all 250ms;

        &.active {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {

    .col-left {
      padding-right: .5rem;
    }

    .col-right {
      padding-left: .5rem;
    }

    .item {
      margin-bottom: 0;
    }

    .types {

      > li {

        > a {
          font-size: 1rem;
          padding: .75rem 1rem;
        }
      }
    }
  }
}
