// --------------------------------------------------
// Type
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-montserrat;
}

.p {
  font-family: $font-open-sans;
  font-size: 1rem;
  margin-bottom: 1rem;
}
