// --------------------------------------------------
// Variables
// --------------------------------------------------

// Colors
$primary:                           #58c26c !default;

// Fonts
$font-montserrat:                   'Montserrat', sans-serif;
$font-open-sans:                    'Open Sans', sans-serif;
