// --------------------------------------------------
// Variables
// --------------------------------------------------

// Colors
$gray-125:                          #f9f9f9 !default;
$gray-150:                          #f2f2f2 !default;
$primary:                           #58c26c !default;

// Fonts
$font-montserrat:                   'Montserrat', sans-serif;
$font-open-sans:                    'Open Sans', sans-serif;
